@import '../../function/space';

.g2j-card {
  .g2j-card-label {
    display: flex;
    flex-wrap: wrap;
    &__item{
      display: inline-flex;
      font-size: 12px;
      color: #ffffff;
      padding: 4px 8px;
      align-items: center;
      height: 24px;
    }

    & .is-hot{
      background-color: red;
    }
    & .is-new{
      background-color: #4485F6;
    }

    &__accommondation-tag {
      display: inline-flex;
      font-size: 1.5rem;
      font-weight: 600;
      color: #3C824C;
      background: #E5F2E4;
      border-radius: 2px;
      padding: get-space-from-base(2) get-space-from-base(4);
      height: 24px;
      white-space: nowrap;
      align-items: center;
    }
  }
}
