.select-modal-nearby {
  .modal-component-class-custom {
    .modal-component__main--button{
      display: none;
    }
    width: calc(768px - 200px);
    @media (max-width: 640px) {
      top: 0;
      height: 100%;
      width: 100%;
      max-width: unset;
    }
  }

  &__header {
    position: absolute;
    top: 30px;
    font-size: 16px;
    cursor: pointer;
  }

  &__body {
    &--heading {

      height: 65px;
      box-shadow: 0px 6px 12px rgba(56, 56, 56, 0.06);
      margin: 0 -20px;
      background: #FFFFFF;
      h2 {
        text-align: center;
        font-weight: 600;
        font-size: 18px;
      }

      .sub-title {
        font-weight: 300;
        font-size: 14px;
        margin: 1em ;
      }
    }

    &--content {
      padding-top: 8px;
      max-height: 65vh;
      .block {
        flex: 1;
        display: flex;
        justify-content: space-between;
        margin: 1em 12px;

        font-size: 16px;
        line-height: 22px;

        .is-nearby-name {
          font-size: 14px;
          font-weight: 400;
          color: #000000;
        }
        .is-nearby-distance {
          font-size: 14px;
          font-weight: 400;
          color: #000000;
        }
      }
    }
  }
}
