<section
  id="footer-sticky-section"
  class="footer-sticky-section"
>
  <div class="container">
    <div class="footer-sticky-block">
      <div class="footer-sticky-block__navigate-col" data-path-name="home-page">
        <div class="footer-sticky-block__icon-shape">
          <i class="fas fa-home"></i>
        </div> <!-- .footer-sticky-block__icon-shape -->
      </div>
      <div class="footer-sticky-block__navigate-col" data-path-name="promotion-page">
        <div class="footer-sticky-block__icon-shape">
          {# <i class="fas fa-heart"></i> #}
          <i class="fas fa-gift"></i>
        </div> <!-- .footer-sticky-block__icon-shape -->
      </div>
    </div> <!-- .footer-sticky-block -->
  </div>
</section> <!-- .footer-sticky-section -->
