<style id="glax-compile-process-loading-layout__style">
  .glax-compile-process-loading-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    z-index: -100;
  }

  .glax-compile-process-loading-layout.is-show {
    transition: opacity 0.2s ease;
    opacity: 1;
    z-index: 100;
  }

  .glax-compile-process-loading-layout.is-hide {
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 100;
  }

  .glax-compile-process-loading-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
  }

  .glax-compile-process-loading-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .glax-compile-process-loading-block__load-gear-group {
    width: 250px;
    height: 250px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .glax-compile-process-loading-block__load-gear {
    position: absolute;
    width: 120px;
    height: 120px;
    margin: auto;
    background: #d44c48;
    border-radius: 50%;
    animation-name: spin;
    animation-duration:6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: -5px;
    left: -50%;
    right: 0;
  }
  .glax-compile-process-loading-block__load-gear .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
  }

  .glax-compile-process-loading-block__load-gear .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    width: 22px;
    height: calc(100% + 16px);
    background: #d44c48;
  }
  .glax-compile-process-loading-block__load-gear .bar:nth-child(2) {
    transform: rotate(45deg);
  }
  .glax-compile-process-loading-block__load-gear .bar:nth-child(3) {
    transform: rotate(90deg);
  }
  .glax-compile-process-loading-block__load-gear .bar:nth-child(4) {
    transform: rotate(135deg);
  }

  .glax-compile-process-loading-block__load-gear-second {
    left: -90px;
    bottom: -10%;
    top: 68px;
    width: 95px;
    height: 95px;
    animation-name: spin-reverse;
  }
  .glax-compile-process-loading-block__load-gear-second .bar {
    width: 14px;
  }
  .glax-compile-process-loading-block__load-gear-second .center {
    width: 28px;
    height: 28px;
  }
  .glax-compile-process-loading-block__load-gear-third {
    right: 8%;
    left: auto;
    top: 25%;
    width: 110px;
    height: 110px;
    animation-name: spin-reverse;
  }
  .glax-compile-process-loading-block__load-gear-third .bar {
    width: 14px;
  }
  .glax-compile-process-loading-block__load-gear-third .center {
    width: 28px;
    height: 28px;
  }

  @-webkit-keyframes spin {
    50% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    50% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin-reverse {
    50% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes spin-reverse {
    50% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
</style>
