<div
  id="glax-compile-process-loading-layout--js"
  class="glax-compile-process-loading-layout is-show"
>
  <div class="glax-compile-process-loading-bg"></div>

  <div class="glax-compile-process-loading-block">
    <div class="glax-compile-process-loading-block__load-gear-group">
      <div class="glax-compile-process-loading-block__load-gear">
        <div class="center"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div> <!-- .glax-compile-process-loading-block__load-gear -->
      <div class="glax-compile-process-loading-block__load-gear glax-compile-process-loading-block__load-gear-second">
        <div class="center"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div> <!-- .glax-compile-process-loading-block__load-gear -->
      <div class="glax-compile-process-loading-block__load-gear glax-compile-process-loading-block__load-gear-third">
        <div class="center"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div> <!-- .glax-compile-process-loading-block__load-gear -->
    </div> <!-- .glax-compile-process-loading-block__load-gear-group -->

    <img src="{{ LAYOUT_CONFIG.imageUrl }}/logo/gulp-logo.png" alt="gulp glax" class="glax-compile-process-loading-block__gulp-logo">
  </div> <!-- .glax-compile-process-loading-block -->
</div> <!-- .glax-compile-process-loading-layout -->
