<!-- Google Tag Manager -->
<script id="gtm__script-tag">
  window.initGtmScriptTag = function() {
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      var f = d.getElementsByTagName(s)[0], j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KHNQPWB');

    const elGtmScriptTag = document.getElementById('gtm__script-tag');

    if(elGtmScriptTag) {
      const elGtmNoScriptTag = document.createElement('noscript');
      const elGtmNoScriptIframe = document.createElement('iframe');
      elGtmNoScriptIframe.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-KHNQPWB');
      elGtmNoScriptIframe.setAttribute('height', '0');
      elGtmNoScriptIframe.setAttribute('width', '0');
      elGtmNoScriptIframe.setAttribute('style', 'display:none;visibility:hidden');

      elGtmNoScriptTag.append(elGtmNoScriptIframe);
      elGtmScriptTag.after(elGtmNoScriptTag);
      elGtmScriptTag.remove();
    }
  }
</script>
<!-- End Google Tag Manager -->
