<header class="header-sticky-section">
  <div class="container">
    <div class="header-sticky-block">
      <div class="header-sticky-block__info-col">
        <a
          href="{{ BASE_URL }}"
          class="header-sticky-block__logo-shape"
        >
          <div class="header-sticky-block__logo-img-outer">
            <img src="{{ LAYOUT_CONFIG.imageUrl }}/svg/go2joy-logo.svg?v={{ CACHE_VERSION }}" width="100%" height="100%" alt="go2joy" class="header-sticky-block__logo-img">
          </div>
        </a>
      </div> <!-- .header-sticky-block__info-col -->
    </div> <!-- .header-sticky-block -->
  </div> <!-- .container -->
</header> <!-- .header-sticky-section -->
