.booking-detail-page {
  .modal-cancel-booking-agoda {
    .text-g2j {
      color: #ff6400;
    }
    .modal-component-class-custom {
      border-radius: 1em;
      width: 82vw;

      @media (min-width: 640px) {
        width: 42vw;
      }

      @media (min-width: 769px) {
        width: 32vw;
      }

      @media (min-width: 992px) {
        width: 30em;
      }
    }
    .modal-header {
      text-align: center;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
    }

    .modal-info-basic {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      margin: 0.5em 1em;
      text-align: center;
    }

    &__footer {
      button {
        position: static;
        max-width: 368px;
        height: 48px;
        width: 100%;
        left: 16px;
        top: 317.44px;
        outline: 1px solid #ff6400;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
        border-radius: 28px;
        color: #ff6400;
        font-weight: 600;
        border: none;
        text-align: center;
        background: #ffffff;
        margin-top: 1em;
        cursor: pointer;
      }

      button:disabled,
      button[disabled] {
        cursor: unset;
        background: #ff6400;
        opacity: 0.4;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
        border-radius: 28px;
      }

      .modal-btn-yes {
        color: white;
        background: #ff6400;
      }

      .modal-btn-no {
        margin-bottom: 1em;
      }
    }
  } // modal-cancel-booking-agoda
} // booking-detail-page
