

.g2j-hotel-slide{
  width: 100%;
  padding: 0;
  position: relative;
  .g2j-swiper-component .g2j-swiper-component-wrapper-outer{
    padding: 0;
  }
  &__button{
    position: absolute;
    padding: 16px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 10;
    .button{
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-left{
        font-size: 20px;
        cursor: pointer;
      }
      .is-number{
        font-size: 12px;
      }
      .icon-heart{
        padding-left: 8px;
        font-size: 18px;
        cursor: pointer;
        &:hover{
          color: red;
        }
      }

      .active{
        color: #ff6400;
      }
    }
  }
  .slide-item{
    &__image{
      position: relative;
      overflow: hidden;
      height: 330px;
      @media (min-width: $g2j-grid-sm-min) {

        height: 576px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__name-room{
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 10;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    .name-room{
      padding: 6px 12px;
      opacity: 0.6;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      span{
        color: #ffffff;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  &__scrollbar{
    width: 90%;
    padding-left: 5%;
    position: absolute;
    bottom: 24px;
    opacity: 1;
    .swiper-scrollbar {
      height:1px;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      z-index: 100;
      border-radius:0px !important;
      mix-blend-mode: normal;
      opacity: 0.31;
      border: 1px solid #FFFFFF;

      /* Inside Auto Layout */

      flex: none;
      order: 1;
      flex-grow: 1;
      margin: 0px 0px;
    }
    .swiper-scrollbar-drag {
      height:7px;
      background: #FFFFFF;
      height: 1px;
      left: 0px;
      border: 3px solid #FFFFFF;

      /* Inside Auto Layout */
      margin-top: -3px !important;
      top: 1px;
      margin: 0px -1px;
      @media (min-width: $g2j-grid-sm-min) {
        margin-top: -4px !important;
      }
    }
  }
}
