// verifycation code
.filter-modal {
  .image {
    position: absolute;
    width: 110px;
    height: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: calc(100% - 55px);

    @media (max-width: 320px) {
      margin-left: 4.5em;
    }

    .custom-img {
      height: 6em;
      width: 5.5em;
      border-radius: 100px;
      text-align: center;
      border: 2px solid #ffffff;
      background: white;
      padding: 1em;
    }
  }
}
.modal-component-class-custom {
  border-radius: 12px;
  max-width: 372px;
  width: 100%;
}

.modal-header {
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 16px 0;
}

.filter-modal__body {
  position: relative;
  z-index: 10;

  &--sort {
    h2 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      margin-bottom: 1em;
    }

    a {
      color: #ff6400;
      text-decoration: underline;
    }
  }

  .error-modal {
    margin: 1em 0em 1.5em;
    color: #ff0000;
  }
}

.modal-info-basic {
  text-align: center;
  font-weight: 500;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  p {
    font-size: 16px;
  }

  .text-orange {
    color: #ff6400;
    font-weight: bold;
  }
}

.modal-input {
  max-width: 375px;
  margin: 2em 0 1em;

  display: flex;
  align-items: center;

  border-bottom: 2px solid rgba(73, 73, 73, 0.104485);

  .code-input-main-item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  input {
    margin: 0 8px;
    width: 100%;
    border: unset;
  }
}

.modal-btn-apply {
  position: static;
  max-width: 368px;
  height: 48px;
  width: 100%;
  left: 16px;
  top: 317.44px;
  // outline: 1px solid #ff6400;
  border: 1px solid;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  border-radius: 28px;
  color: #ff6400;
  font-weight: 600;
  text-align: center;
  background: #ffffff;
  margin-top: 1em;
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
}

.btn-active {
  background: #ff6400;
  color: white;
}

.modal-btn-apply:hover {
  cursor: pointer;
}
