{% extends objGlobal.path.njk + '/_layout.njk' %}

<!-- ===============Body=============== -->
{% block header %}{% endblock %}

{% block body %}
  <div id="app" class="main-container"></div>
{% endblock %}

{% block footer %}{% endblock %}
