//=================================================
// popup-modal-change-password
//=================================================
// @import "../../var/grid";
@import "../../vars";

$h-btn: 36px;
$primary-color: #ff6400;
$w-label: 90px;
$margin: 20px;
$w-range-price: 250px;

.modal-component-class-custom {
  max-height: 70vh;
  border-radius: 15px;
  width: 340px;
}
@media screen and(min-width:$g2j-grid-xxs-min ) {
  .modal-component-class-custom {
    height: auto;
  }
}
.popup-modal-change-password {

  &__header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  &__body {
    // width: calc(100vw - 20px);
    text-align: center;
    i{
      color: #28A745;
      padding: 0 8px;
    }
    @media screen and(min-width:$g2j-grid-xxs-min ) {

      height: fit-content;
      height: -webkit-fit-content;
    }

    &--content-line {
      font-size: 14px;
      font-weight: 400;
      width: 100%;
      padding: 6px 0;
      .content-info{
        background: #FBF7F2;
        border-radius: 8px;
        padding: 6px 0px 6px 16px;
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        input{
            border: none;
            outline: none;
            background: #FBF7F2;
            border-radius: 8px;
            height: 48px;
            width: 100%;

        }
        input:focus-visible{
            border: none;
            outline: none;
        }
        .input-info:focus {
            border: none;
            outline: none;
        }
        .input-info-password{
          font-size: 12px;
          @media screen and(min-width:$g2j-grid-xxs-min) {
              font-size: 14px;
          }
          @media screen and(min-width:$g2j-grid-sm-min) {
              font-size: 16px;
          }
        }
        .input-font-size{
            font-size: 16px;
        }
        .input-info-password:focus {
            border: none;
            outline: none;
        }

        .content-info-icon{
          align-items: center;
          justify-content: flex-end;
          width: 35px;
          height: 100%;
          padding-right: 10px;
            i{
                float: right;
                font-size: 10px;
            }
            .toggle-change-password{
              height: 100%;
                padding: 3px;
                color: #BAB1A6;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .toggle-change-confirm-password{
              height: 100%;
                padding: 3px;
                color: #BAB1A6;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

      }
    }
  }
  &__footer {
    display: grid;
    justify-content: center;
    padding: 16px 0;
    .check-error{
      width: 100%;
      text-align: center;
      padding: 8px 0;
      color: #DC3545;
    }
    &--button{
      width: 100%;
      display: flex;
      justify-content:center;
      button {
        &:hover {
          transform: scale(1.1);
          transition: all 0.2s;
        }
        height: $h-btn;
        line-height: $h-btn;
        padding: 0 15px;
        width: 250px;
        cursor: pointer;
        border: none;
        background-color: #ff6400;
        border-radius: 20px;
        color: #ffffff;
      }
    }

  }
}
