@import "../search-page/empty-state";
.g2j-hotel-product-card-horizontal-outer {
  margin-bottom: 20px;
  margin-right: 0;
  @media (min-width: 624px) {
    max-width: 100%;
  }
}

.select-hotel-modal {
  .modal-component-class-custom {
    background-color: #fcf7f1;
    width: 400px;
    overflow: hidden;
    max-height: 70vh;
    @media (min-width: $g2j-grid-sm-min) {
      max-height: auto;
    }
    .modal-component__main--body {
      overflow-y: auto;
      margin-top: 20px;
      padding-right: 4px;
    }
  }
  .container-loading {
    background-color: #ffffff;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  &__body {
    // margin-top: 20px;
  }
  ::-webkit-scrollbar {
    // background: transparent;
    // width: 3px;
    // margin-left: 4px;
  }
}
