{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },

  "root": true,

  "extends": [
    "eslint:recommended",
    "plugin:import/warnings",
    "plugin:import/errors",
    "plugin:vue/recommended"
  ],

  "rules": {
    "arrow-parens": ["error", "always"],
    "camelcase": "off",
    "comma-dangle": ["error", "only-multiline"],
    "class-methods-use-this": "off",
    "function-paren-newline": "off",
    "import/no-unresolved": 2,
    "import/no-useless-path-segments": "error",
    "indent": "off",
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true
      }
    ],
    "no-console": "off",
    "no-mixed-operators": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "consistent": true }]
  },

  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~jsPath", "./src/js"],
          ["~jsPartialPath", "./src/js/partial"],
          ["~jsBasePath", "./src/js/base"],
          ["~jsDefinePath", "./src/js/define"],
          ["~jsHelperPath", "./src/js/helper"],
          ["~jsLibPath", "./src/js/lib"],
          ["~jsLandingPath", "./src/js/landing"]
        ]
      },
      "extensions": [".js", ".vue"]
    }
  },

  "parser": "vue-eslint-parser",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "parser": "babel-eslint",
    "project": "./tsconfig.json",
    "allowImportExportEverywhere": true
  }
}
